@import "https://fonts.googleapis.com/css?family=Noto+Sans";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.btn {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    height: 45px;
    font-size: 1.1rem;
    border-radius: 22.5px;
    cursor: pointer;
    width: 180px;
    border: none;
    color: #ffffff;
    position: relative;
    overflow: hidden;
    background: rgba(255, 142, 64, 1);
    background: -moz-linear-gradient(left, rgba(255, 142, 64, 1) 0%, rgba(255, 90, 106, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 142, 64, 1)), color-stop(100%, rgba(255, 90, 106, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 142, 64, 1) 0%, rgba(255, 90, 106, 1) 100%);
    background: -o-linear-gradient(left, rgba(255, 142, 64, 1) 0%, rgba(255, 90, 106, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255, 142, 64, 1) 0%, rgba(255, 90, 106, 1) 100%);
    background: linear-gradient(to right, rgba(255, 142, 64, 1) 0%, rgba(255, 90, 106, 1) 100%);
}

.btn:focus:not(:active)::after {
    animation: ripple 1s ease-out;
}

.btn:focus {
    outline: none;
}

.btn:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

.nav-bar {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container {
    width: 90%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.brand {
    display: flex;
    width: 130px;
}

.nav {
    display: flex;
    list-style: none;
}

.nav__item {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 15px;
}

.nav__link {
    padding: 0 10px;
    color: #1a1a1a;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 1.2px;
    font-weight: 600;
}

.nav__link::before {
    content: '';
    width: 0;
    height: 3px;
    transition: .3;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255, 142, 64, 1);
    background: -moz-linear-gradient(left, rgba(255, 142, 64, 1) 0%, rgba(255, 90, 106, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 142, 64, 1)), color-stop(100%, rgba(255, 90, 106, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 142, 64, 1) 0%, rgba(255, 90, 106, 1) 100%);
    background: -o-linear-gradient(left, rgba(255, 142, 64, 1) 0%, rgba(255, 90, 106, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255, 142, 64, 1) 0%, rgba(255, 90, 106, 1) 100%);
    background: linear-gradient(to right, rgba(255, 142, 64, 1) 0%, rgba(255, 90, 106, 1) 100%);
}

.nav__item:hover .nav__link::before {
    animation: hover-link 0.3s 1 forwards ease;
}

.nav__item:focus {
    outline: none;
}

@keyframes hover-link {
    0% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}

.mancha-1 {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 50%;
}


/*  Hero section  */

.hero-container {
    display: grid;
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    grid-template-columns: 5fr 3fr;
    align-items: center;
    justify-items: center;
}

.hero__image {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.hero__title {
    font-size: 2.5rem;
    letter-spacing: 1.3px;
    line-height: 1.3;
}

.hero__text {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-weight: 500;
}

.hero__image img {
    max-width: 580px;
}

.shadow-image {
    filter: drop-shadow(0 2px 4px rgba(255, 90, 106, .4));
}


/* Sección: Speciality*/

.speciality {
    margin-top: 5rem;
    text-align: center;
}

.speciality__header {
    max-width: 700px;
    margin: 0 auto;
    padding: 3rem 0;
}

.speciality__title {
    font-size: 2.1rem;
}

.speciality__description {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.speciality__container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.speciality__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.speciality__item img {
    max-width: 160px;
}

.speciality__subtitle {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.speciality__text {
    margin: 1rem 0;
}


/*Footer*/

.footer {
    margin-top: 3rem;
    background-color: #f8fbf2;
}

.footer__brand img {
    max-width: 130px;
}

.footer__brand {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__item {
    padding: 2rem 0;
}

.footer hr {
    margin: 1rem 0;
}

.footer__title {
    margin-bottom: 1rem;
}

.footer__container {
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.footer__copyright {
    text-align: center;
    padding: 1rem 0 2rem 0;
}

.footer__contact {
    display: flex;
    flex-direction: column;
}

.footer__link {
    color: #1a1a1a;
    margin: .2rem 0;
}

.timetable {
    list-style: none;
    width: 70%;
    margin: 0 auto 0 0;
}

.timetable li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: .5rem 0;
}


/* sección: reservation */

.reservation {
    margin: 5rem 0;
}

.reservation__container {
    width: 90%;
    max-width: 1280px;
    display: grid;
    grid-template-columns: 3fr 5fr;
    margin: 0 auto;
    gap: 3rem;
}

.reservation__image {
    display: flex;
    align-items: center
}

.reservation__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reservation__image img {
    max-width: 550px;
    margin: 0 2rem;
}

.reservation__title {
    font-size: 2.3rem;
    letter-spacing: 1.3px;
    margin-bottom: 1.4rem;
}

.reservation__text {
    font-size: 1.1rem;
    margin-bottom: 1.4rem;
}


/* sección: menu */

.menu {
    margin: 5rem 0;
}

.menu__container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

.menu__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.menu__title {
    font-size: 2.3rem;
    letter-spacing: 1.3px;
    margin-bottom: 1.4rem;
}

.menu__text {
    font-size: 1.1rem;
    margin-bottom: 1.4rem;
}

.card__header {
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.card__body {
    padding: .5rem .5rem 0;
}

.card__text {
    color: #666666;
    margin: .5rem 0;
}

.card__footer {
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-price {
    width: 100px;
    height: 30px;
    margin: 0 0 0 auto;
    font-size: 1rem;
    border-radius: 15px;
}


/* animation */

@keyframes float {
    0% {
        animation-timing-function: ease-in-out;
        transform: translate3d(0, 0, 0);
    }
    50% {
        animation-timing-function: ease-in-out;
        transform: translate3d(0, -1.5vh, 0);
        filter: drop-shadow(0 10px 8px rgba(255, 90, 106, .4));
    }
    100% {
        animation-timing-function: ease-in-out;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(25, 25);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(40, 40);
    }
}

.float {
    animation-name: float;
    transform-origin: center bottom;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-fill-mode: both;
}

.nav__button {
    display: none
}

.menu__mobile {
    display: none;
}


@media only screen and (max-width: 500px) {

    .nav {
        display: none
    }
    .nav__button {
        z-index: 10;
    }
    .mancha-1 {
        width: 100%;
    }
    .menu__mobile {
        display: flex;
        align-items: center;
        position: fixed;
        height: 100%;
        width: 80%;
        top: 0;
        left: 0;
        max-width: 300px;
        background-color: #fff;
        transform: translateX(-100%);
        transition: .3s;
        z-index: 3;
    }
    .nav__mobile {

    }
        .menu__open {
                transform: translateX(0);
        }
    .nav__button {
        display: block;
    }

    .hero-container, 
    .menu__container, 
    .speciality__container, 
    .reservation__container, 
    .footer__container {
        grid-template-columns: 1fr;
    }
    .menu__items {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .hero, .menu {
        margin-top: 1rem
    }
    .reservation {
        margin-top: 2rem;

        margin-bottom: 2rem
    }
    .speciality {
        margin-top: 1rem;
    }
    .hero__title,
    .reservation__title,
    .menu__title,
    .speciality__title {
        font-size: 1.5rem;
    }
    .hero__text,
    .reservation__text,
    .menu__text,
    .speciality__description {
        font-size: 1.1rem;
    }
    .speciality__description {
        padding: 0 1rem;
    }

    .hero__image img,
    .reservation__image img{
        max-width: 250px;
        margin: 0;
    }

    .hero__image img {
        margin-top: 2rem
    }
    .timetable {
        width: 100%;
    }
    
    .hero__image, .reservation__image {
        justify-content: center
    }

    .btn-price {
        width: 80px
    }
}